name: Synthetics

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

env:
  UBI_TOKEN: ${{ secrets.UBI_TOKEN }}
  UBI_URL: ${{ secrets.UBI_URL }}
  LOCATION: eu-central-h1
  SUFFIX: ${{ github.run_id }}


jobs:
  test:
    runs-on: ubicloud-standard-4
    timeout-minutes: 25

    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Generate SSH Key
      run: |
        ssh-keygen -t ed25519 -b 4096 -q -C "synthetics-${{ github.run_id }}" -N "" -f ~/.ssh/id_ed25519

    - name: Add SSH key to agent
      run: ssh-add ~/.ssh/id_ed25519

    - name: Download ubi CLI
      run: |
        curl -L --output ubi.tar.gz https://github.com/ubicloud/cli/releases/latest/download/ubi-linux-amd64-1.1.0.tar.gz
        tar -xzf ubi.tar.gz
        sudo mv ubi /usr/local/bin
        ubi version

    - name: Run synthetic tests
      shell: bash
      run: ./test.bash
