name: Synthetics

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron:  '*/10 * * * *'

env:
  UBI_TOKEN: ${{ secrets.UBI_TOKEN }}
  UBI_URL: ${{ secrets.UBI_URL }}
  UBI_VERSION: 1.1.0
  LOCATION: eu-central-h1
  SUFFIX: ${{ github.run_id }}


jobs:
  test:
    runs-on: ubicloud-standard-4
    timeout-minutes: 25

    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Generate SSH Key
      run: |
        ssh-keygen -t ed25519 -b 4096 -q -C "synthetics-${{ github.run_id }}" -N "" -f ~/.ssh/id_ed25519

    - name: Configure SSH
      run: |
        echo -e "Host *\n  StrictHostKeyChecking accept-new" >> ~/.ssh/config
        chmod 600 ~/.ssh/config

    - name: Cache ubi CLI
      id: cache-ubi
      uses: actions/cache@v4
      with:
        path: /usr/local/bin/ubi
        key: ubi-linux-amd64-${{ env.UBI_VERSION }}

    - name: Download ubi CLI
      if: steps.cache-ubi.outputs.cache-hit != 'true'
      run: |
        curl -L --output ubi.tar.gz https://github.com/ubicloud/cli/releases/latest/download/ubi-linux-amd64-${{ env.UBI_VERSION }}.tar.gz
        tar -xzf ubi.tar.gz
        sudo mv ubi /usr/local/bin

    - name: Verify ubi CLI
      run: ubi version

    - name: Run synthetic tests
      shell: bash
      run: ./test.bash
